.homeSection__cards {
	margin-top: 20px;
	display: flex;
	gap: 20px;
	align-items: flex-start;
	width: 100%;
	overflow-x: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}

h2 {
	padding-left: 10px;
}
