.playerStatus {
	display: flex;
	align-items: center;

	.bar {
		--percent: 20%;
		flex-grow: 1;
		height: 4px;
		border-radius: 50px;
		background: linear-gradient(
			to right,
			var(--accent) var(--percent),
			rgba(254, 102, 58, 0.2) var(--percent)
		);
	}
	&__current,
	&__duration {
		width: 50px;
		font-size: 0.75rem;
		font-weight: 400;
	}
	&__duration {
		text-align: right;
	}

	@media (max-width: 800px) {
		&__current,
		&__duration {
			display: none;
		}
	}
}
