.playerStatus {
	display: flex;
	align-items: center;

	.bar {
		flex-grow: 1;
		height: 4px;
		background-color: var(--accent);
		border-radius: 50px;
		margin: 0 15px;
	}
	&__current,
	&__duration {
		font-size: 0.75rem;
		font-weight: 400;
	}
}
