.playerStatus {
	display: flex;
	align-items: center;

	.bar {
		flex-grow: 1;
		height: 4px;
		border-radius: 50px;
	}
	&__current,
	&__duration {
		width: 50px;
		font-size: 0.75rem;
		font-weight: 400;
	}
	&__duration {
		text-align: right;
	}
}
