.user {
	display: flex;
	align-items: center;

	svg {
		width: 45px;
		height: 45px;
		border: 2px solid var(--accent);
		border-radius: 50%;
		color: var(--accent);
	}

	&__info {
		margin-left: 10px;

		p {
			font-size: 0.6rem;
			letter-spacing: 0.2em;
			margin-bottom: 2px;
			padding-left: 2px;
		}

		h3 {
			font-weight: 600;
		}
	}
}
