.main {
	width: 100%;
	padding: 50px 50px 70px 120px;
	color: aliceblue;
	height: 100vh;
	background-color: var(--primary);

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__bottom {
		height: calc(100% - 80px);
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}

		& > * {
			margin: 50px 0;
		}
	}
	@media (max-width: 800px) {
		padding: 50px 20px 180px;
		&__top {
			flex-direction: column-reverse;
		}
	}
}
