.main {
	width: 100%;
	padding: 50px 50px 70px 120px;
	color: aliceblue;
	height: 100vh;
	background: linear-gradient(150deg, var(--primary) 40%, var(--theme));
	position: relative;
	isolation: isolate;

	&::after {
		position: absolute;
		content: "";
		inset: 0;
		z-index: -1;
		background: linear-gradient(150deg, transparent, var(--primary) 50%);
		opacity: 0.6;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__bottom {
		height: calc(100% - 10px);
		padding-bottom: 80px;
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}

		& > * {
			margin: 50px 0;
		}
	}
	@media (max-width: 800px) {
		padding: 50px 10px 180px;
		&__top {
			flex-direction: column-reverse;
		}
	}
}
