.main {
	width: 100%;
	padding: 50px 50px 70px 120px;
	color: aliceblue;
	height: 100vh;
	background-color: var(--primary);

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
