.modal {
	position: absolute;
	top: -100%;
	left: 0;
	right: 0;
	padding: 10px 50px;
	background-color: var(--accent);
	z-index: 999999;
	transition: top 0.3s ease;

	h3 {
		font-weight: 400;
		font-size: 0.8rem;
	}

	&.active {
		top: 0;
	}
}
