.sidebar {
	background-color: aqua;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 70px;
	background-color: var(--secondary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	transition: width 0.2s ease;
	z-index: 9999;

	&:hover {
		width: 250px;
	}

	@media (max-width: 800px) {
		bottom: 0;
		right: 0;
		width: auto;
		left: 0;
		top: initial;
		height: 70px;
		flex-direction: row;
		align-items: center;
		z-index: 9999999;
		justify-content: space-around;
		background-color: var(--primary);

		&:hover {
			width: auto;
		}
	}
}
