.sidebar {
	background-color: aqua;
	position: absolute;
	top: 0;
	bottom: 70px;
	width: 70px;
	background-color: var(--secondary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	transition: width 0.2s ease;
	z-index: 9999;

	&:hover {
		width: 250px;
	}
}
