.searchResult {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px 30px;
	justify-content: space-between;
	cursor: pointer;
	img {
		width: 50px;
		height: 50px;
		object-fit: cover;
		border-radius: 50%;
	}

	&__details {
		flex: 0.9;
	}

	h3 {
		font-weight: 600;
		font-size: 0.9rem;
		margin-bottom: 5px;
	}
	p {
		opacity: 0.75;
		font-size: 0.8rem;
	}
	svg {
		flex: 0.1;
		font-size: 3rem;
		color: var(--accent);
	}

	&:hover {
		background-color: rgba($color: #fff, $alpha: 0.1);
		border-radius: 20px;
	}
}
