.likedSongs {
	.homeSection__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		gap: 20px;

		& > * {
			width: 100%;
			margin-bottom: 20px;
			img {
				height: 100%;
			}
		}
	}
}
